:javascript
  $('ul#photo_list').tooltip({
    position: { my: 'left top' }
  });
  $(function() {
    $('.gallery').colorbox({
      rel: 'slideshow',
      slideshow: true,
      slideshowAuto: false,
      slideshowSpeed: 4000,
      slideshowStart: "start",
      slideshowStop: "stop",
      current: "{current}/{total}",
      maxWidth: '90%',
      maxHeight: '90%'
    });
  });

- if @photos.empty?
  %div{ style: "width: 100%; height: 100%; text-align: center; display: table;"}
    %span{ style: "font-size: 3em; color: gray; display: table-cell; vertical-align: middle;"}
      No photos
- else
  %ul#photo_list
    - @photos.each do |photo|
      %li
        %div.photobox
          %a{ href: photo["photo"], target: "_blank", class: "gallery", title: photo["filename"] }
            %img{ src: photo["thumbnail"] }
