!!! XML
!!! Strict

%html
  %head
    %title PhotoView
    %meta{:"http-equiv" => "Content-Type", :comment => "text/html", :charset => "utf-8"}
    - @styles.each do |style|
      %link{:rel => "stylesheet", :type => "text/css", :href => "/#{style}.css"}


  %body
    %div#container
      %div#header
        %h1
          %a{:href => "/"} PhotoView
      %div#content
        != yield
      %div#footer
        = "PhotoView v#{PV_VERSION}"
